body {
	font-size: 100%
} 
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
header {
	margin-bottom: 20px;
}
header .logo {
	padding: 0;
}
header a {
	top: 45px;
	height: 10px;
	padding-left: 50px;
}
header #menu {
	float: right;
	padding-top: 35px;
}
nav ul li {
	display: inline-block;
}
header ul {
	margin: 0;
	padding: 0;
}
.logo {
	font-size: 52px;
	padding-top: 45px;
}
.tabmenu > div {
	height: 4px;
	width: 100%;
	background-color: #000;
	
}
.tabmenu {
	width: 40px;
	height: 22px;
	display: flex;
	flex-wrap: wrap;
	display: none;
	cursor: pointer;
}
.main-container {
	display: block;
	padding: 0px 85px;
	clear: both;
}

.about {
	width: 50%;
	display: block;
	height: calc(100vh - 220px);
    background-image: url('../images/about.jpg');
    background-size: cover;
    background-position: right;
    margin-right: 50px;
}
h1 {
	font-size: 90px;
	text-align: center;
}
.text {
	background-color: #EEE;
	width: 50%;
	margin-left: 50%;
	height: 100%;
}
.unvisible {
	visibility: hidden;
}
div.visible {
	visibility: visible;
}
.social {
	display: flex;
	justify-content: center;
}

.social > div {
    background-color: #fff;
    width: 15px;
    margin: 15px;
    text-align: center;
    line-height: 0px;
    height: 25px;
    font-size: 12px;
    align-items: center;
}
.social img {
	height: 25px;
}
p {
	text-align: center;
}

@media screen and (max-width: 600px) {
	header {
	height: 80px;
	}
	div.tabmenu {
		display: flex;
		cursor: pointer;
	}
	.tabmenu {
		display: hidden;
	}
	#menu nav{
		position: fixed;
		top: 100px;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.92)
	}
	#menu nav ul li {
		display: block;
		color: #fff;
		padding-top: 35px;
		padding-left: 50px;
		line-height: 30px;
		font-size: 22px;
	}
	.menu li {
		display: none;
	}
	header nav {
		display: none;
	}
	#menu nav.visible {
		display: block;
    }
}
@media screen and (max-width: 1024px) {
	header {
	height: 80px;
	}
	div.tabmenu {
		display: flex;
		cursor: pointer;
	}
	.tabmenu {
		display: hidden;
	}
	#menu nav{
		position: fixed;
		top: 100px;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.92)
	}
	#menu nav ul li {
		display: block;
		color: #fff;
		padding-top: 35px;
		padding-left: 50px;
		line-height: 30px;
		font-size: 22px;
	}
	.menu li {
		display: none;
	}
	header nav {
		display: none;
	}
	#menu nav.visible {
		display: block;
	}
}