#blog-post {
	background-color: #EFEFEF;
	margin: 0px 85px;
}
.blog-post-img {
	background-image: url('../images/blog-1.jpg');
    background-size: cover;
    background-position: center;
}
.blog-post-img2 {
	background-image: url('../images/blog-2.jpg');
    background-size: cover;
    background-position: center;
}
.blog-post-img3 {
	background-image: url('../images/blog-3.jpg');
    background-size: cover;
    background-position: center;
}
.blog-post-text {
	padding: 35px 25px;
}
.blog-post-text:hover {
	background-color: rgba(215, 88, 2, 1);
	color: #fff;
	transition: 1s;
}
#background:hover {
	background-color: rgba(0, 0, 0, 0.3);
	transition: 1s;
}
h1 {
	font-family: 'ExpletusSans-Medium';
	font-size: 35px;
}
p {
	font-family: 'ExpletusSans-Regular';
	margin-bottom: 20px;
	font-size: 18px;
	text-align: left;
	padding-top: 20px;
}
.border {
	border-top: 1px solid;
	margin-top: 35px;
}
h3 {
	font-family: 'ExpletusSans-Bold';
	font-size: 16px;
	text-align: center;
}
article {
	max-width: 900px;
	margin: auto;
	background-color: #fff;
	margin-bottom: 30px;
}
article > div {
	width: 50%;
	min-height: 350px;
	float: left;
}
.clear {
	display: block;
	clear: both;
}
@media screen and (max-width: 600px) {
	header {
		height: 80px;
	}
	div.tabmenu {
		display: flex;
		cursor: pointer;
	}
	.tabmenu {
		display: hidden;
	}
	#menu nav{
		position: fixed;
		top: 100px;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.92)
	}
	#menu nav ul li {
		color: #fff;
		padding-top: 35px;
		padding-left: 50px;
		line-height: 30px;
		font-size: 22px;
	}
	.menu li {
		display: none;
	}
	header nav {
		display: none;
	}
	#menu nav.visible {
		display: block;
    }
    article > div {
		width: 100%;
	}
}
@media screen and (max-width: 1024px) {
	header {
		height: 80px;
	}
	div.tabmenu {
		display: flex;
		cursor: pointer;
	}
	.tabmenu {
		display: hidden;
	}
	#menu nav{
		position: fixed;
		top: 100px;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.92)
	}
	#menu nav ul li {
		color: #fff;
		padding-top: 35px;
		padding-left: 50px;
		line-height: 30px;
		font-size: 22px;
	}
	.menu li {
		display: none;
	}
	header nav {
		display: none;
	}
	#menu nav.visible {
		display: block;
	}
	article > div {
		width: 100%;
	}
}