@font-face {
	font-family: 'ExpletusSans-Bold';
	src: url("fonts/ExpletusSans-Bold.woff2") format("woff2"),
		 url("fonts/ExpletusSans-Bold.woff") format("woff"),
		 url("fonts/ExpletusSans-Bold.ttf") format("ttf"),
		 url("fonts/ExpletusSans-Bold.eot") format("eot");
}
@font-face {
	font-family: 'ExpletusSans-BoldItalic';
	src: url("fonts/ExpletusSans-BoldItalic.woff2") format("woff2"),
		 url("fonts/ExpletusSans-BoldItalic.woff") format("woff"),
		 url("fonts/ExpletusSans-BoldItalic.ttf") format("ttf"),
		 url("fonts/ExpletusSans-BoldItalic.eot") format("eot");
}
@font-face {
	font-family: 'ExpletusSans-Italic';
	src: url("fonts/ExpletusSans-Italic.woff2") format("woff2"),
		 url("fonts/ExpletusSans-Italic.woff") format("woff"),
		 url("fonts/EExpletusSans-Italic.ttf") format("ttf"),
		 url("fonts/ExpletusSans-Italic.eot") format("eot");
}
@font-face {
	font-family: 'ExpletusSans-Medium';
	src: url("fonts/ExpletusSans-Medium.woff2") format("woff2"),
		 url("fonts/ExpletusSans-Medium.woff") format("woff"),
		 url("fonts/ExpletusSans-Medium.ttf") format("ttf"),Medium
		 url("fonts/ExpletusSans-Medium.eot") format("eot");
}
@font-face {
	font-family: 'ExpletusSans-Regular';
	src: url("fonts/ExpletusSans-Regular.woff2") format("woff2"),
		 url("fonts/ExpletusSans-Regular.woff") format("woff"),
		 url("fonts/ExpletusSans-Regular.ttf") format("ttf"),
		 url("fonts/ExpletusSans-Regular.eot") format("eot");
}
@font-face {
	font-family: 'ExpletusSans-SemiBold';
	src: url("fonts/ExpletusSans-SemiBold.woff2") format("woff2"),
		 url("fonts/ExpletusSans-SemiBold.woff") format("woff"),
		 url("fonts/ExpletusSans-SemiBold.ttf") format("ttf"),
		 url("fonts/ExpletusSans-SemiBold.eot") format("eot");
}
@font-face {
	font-family: 'ExpletusSans-SemiBoldItalic';
	src: url("fonts/ExpletusSans-SemiBoldItalic.woff2") format("woff2"),
		 url("fonts/ExpletusSans-SemiBoldItalic.woff") format("woff"),
		 url("fonts/ExpletusSans-SemiBoldItalic.ttf") format("ttf"),
		 url("fonts/ExpletusSans-SemiBoldItalic.eot") format("eot");
}
@font-face {
	font-family: 'ExpletusSans-MediumItalic';
	src: url("fonts/ExpletusSans-MediumItalic.woff2") format("woff2"),
		 url("fonts/ExpletusSans-MediumItalic.woff") format("woff"),
		 url("fonts/ExpletusSans-MediumItalic.ttf") format("ttf"),
		 url("fonts/ExpletusSans-MediumItalic.eot") format("eot");
}