#background {
	min-height: calc(100vh - 220px);
	background-color: #EFEFEF;
	margin: 0px 85px;
	padding: 85px;
}
.portfolio-items{
	display: flex;
	flex-wrap: wrap;
}
.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
	position: relative;
}
.column > div {
	position: relative;
}
.column > div > div {
	position: absolute;
	top: 8px;
	bottom: 0;
	left: 0;
	right: 0;
}
.column img {
	width: 100%;
	margin-top: 8px;
	vertical-align: middle;
}
.shadow:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
.shadow-1 {
	background-color: rgba(0, 0, 0, 0.5);
}
h1 {
	position: absolute;
	top: 180px;
	color: #fff;
	font-size: 70px;
}
@media screen and (max-width: 600px) {
	header {
		height: 80px;
	}
	div.tabmenu {
		display: flex;
		cursor: pointer;
	}
	.tabmenu {
		display: hidden;
	}
	#menu nav {
		position: fixed;
		top: 100px;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.92)
	}
	#menu nav ul li {
		color: #fff;
		padding-top: 35px;
		padding-left: 50px;
		line-height: 30px;
		font-size: 22px; 
	}
		.menu li {
			display: none;
	}
		header nav {
			display: none;
		}
		#menu nav.visible {
			display: block;
    }
	    .column {
		flex: 50%;
		max-width: 50%;
		padding: 0 4px;
		}
}

@media screen and (max-width: 1024px) {
	header {
		height: 80px;
	}
	div.tabmenu {
		display: flex;
		cursor: pointer;
	}
	.tabmenu {
		display: hidden;
	}
	#menu nav {
		position: fixed;
		top: 100px;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.92)
	}
	#menu nav ul li {
		color: #fff;
		padding-top: 35px;
		padding-left: 50px;
		line-height: 30px;
		font-size: 22px; 
	}
	.menu li {
		display: none;
	}
	header nav {
		display: none;
	}
	#menu nav.visible {
		display: block;
	}
		.column {
		flex: 50%;
		max-width: 50%;
		padding: 0 4px;
		}
}
